<a href="https://colab.research.google.com/github/AnmolHemani/Python/blob/main/Day_4_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
# 1. Write a program to print all natural numbers from 1 to n.
# – using while loop

n=int(input("Enter the Value of n : "))
i=1
while i<=n:
  print(i)
  i+=1

Enter the Value of n : 5
1
2
3
4
5

In [6]:
# 2. Write a program to print all natural numbers in reverse (from n to 1).
# – using while loop

n=int(input("Enter the value of n : "))
while n>=1:
  print(n)
  n-=1

Enter the value of n : 5
5
4
3
2
1

In [9]:
# 3. Write a program to print all alphabets from a to z.
# – using while loop

i=97
while i<=122:
  print(chr(i))
  i+=1

a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y
z

In [10]:
# 4. Write a program to print all even numbers between 1 to 100.
# – using while loop

i=1
while i<=100:
  if i%2==0:
    print(i)
  i+=1

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [11]:
# 5. Write a program to find the sum of all odd numbers between 1 to n.

n=int(input("Enter the value of n : "))
i=1
sum=0
while i<=n:
  if i%2!=0:
    sum+=i
  i+=1
print(sum)

Enter the value of n : 10
25

In [17]:
# 6. Write a program to count the number of digits in a number.

n=int(input("Enter the value of n : "))
count=0
while n>0:
  n=n//10
  count+=1
print(count)

Enter the value of n : 4521
4

In [18]:
# 7. Write a program to calculate the sum of digits of a number.

n=int(input("Enter the value of n : "))
sum=0
while n>0:
  rem=n%10
  sum+=rem
  n=n//10
print(sum)

Enter the value of n : 4521
12

In [27]:
# 8. Write a program to find the first and last digit of a number.

n=int(input("Enter the value of n : "))
last=n%10
while n>0:
  first=n
  n=n//10
print("First Digit is : ",first)
print("Last Digit is : ",last)

Enter the value of n : 4521
First Digit is :  4
Last Digit is :  1

In [31]:
# 9. Write a program to find the sum of first and last digit of a number.

n=int(input("Enter the value of n : "))
last=n%10
while n>0:
  first=n
  n=n//10
print("Sum is first & last digit is : ",first+last)

Enter the value of n : 4521
Sum is first & last digit is :  5

In [32]:
# 10.Write a program to enter a number and print its reverse.

n=int(input("Enter the value of n : "))
sum=0
while n>0:
  rem=n%10
  sum=sum*10+rem
  n=n//10
print(sum)

Enter the value of n : 4521
1254

In [33]:
# 11.Write a program to find the power of a number using for loop.

n=int(input("Enter the value of n : "))
p=int(input("Enter the value of p : "))
pow=1
for i in range(1,p+1):
  pow*=n
print(pow)

Enter the value of n : 2
Enter the value of p : 4
16

In [34]:
# 12.Write a program to find all factors of a number.

n=int(input("Enter the value of n : "))
for i in range(1,n+1):
  if n%i==0:
    print(i)

Enter the value of n : 4
1
2
4

In [36]:
# 13.Write a program to calculate the factorial of a number.

n=int(input("Enter the value of n : "))
fact=1
for i in range(1,n+1):
  fact*=i
print(fact)

Enter the value of n : 4
24

In [41]:
# 14.Write a program to find LCM of two numbers.

n1=int(input("Enter the value of n1 : "))
n2=int(input("Enter the value of n2 : "))

# using for loop
# for i in range(1,n1+1):
#   if n1%i==0 and n2%i==0:
#     x=i
#   lcm=n1*n2//x
# print(lcm)

# using while loop
i=1
while i<=n1:
  if n1%i==0 and n2%i==0:
    x=i
    i+=1
  lcm=n1*n2//x
print(lcm)

Enter the value of n1 : 2
Enter the value of n2 : 4
4

In [45]:
# 15.Write a program to check whether a number is Prime number or not.

n=int(input("Enter the value of n : "))
a=0
for i in range(2,n):
  if n%i==0:
    a=1
    break
if a==1:
  print("not a prime num")
else:
  print("prime num")

Enter the value of n : 19
prime num

In [46]:
# Armsrong number

n=int(input("Enter the value of n : "))
sum=0
temp=n
while n>0:
  rem=n%10
  sum=sum+rem**3
  n=n//10
if sum==temp:
  print("Armstrong num")
else:
  print("Not a Armstrong num")

Enter the value of n : 153
Armstrong num

In [47]:
# Fibonacci series
n=int(input("Enter the value of n : "))
n1=0
n2=1
print(n1)
print(n2)
for i in range(1,n+1):
  n3=n1+n2
  print(n3)
  n1=n2
  n2=n3

Enter the value of n : 5
0
1
1
2
3
5
8